{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="logo">
        <img src="static/logoquiz.png" class="logoimage">
    </div>

    {% if get_flashed_messages() %}
            <div class="alert alert-info text-center mx-auto" id="alert" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
    {% endif %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <div class="newaccount">Don't have an account?<br>
        <a href="/register">
        <strong>Click here to register</strong></a>
    </div>
{% endblock %}
